  /*Voy a importar la fuente*/
  @font-face {
    font-family: "Museo Sans";
    src: url(Fuente/museo-sans-700.ttf) format("truetype");
  }

.carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slides {
    display: flex; /* Crea un contenedor flexible para las imágenes */
    transition: transform 0.5s ease; /* Agrega una transición suave entre imágenes */
    margin-left: 12%;
    margin-top: 50px;
  }
  
  .slide {
    flex: 0 0 100%; /* Ancho del slide igual al 100% */
  }

  .slide p{
    font-family: "Museo Sans";
    font-size: 28px;
    line-height: 38px;
    color: #484848;
  }

  .slide p button{
    font-family: "Museo Sans";
    background-color: #e60012;
    color: white;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
  }

  .slide p button:hover{
    background-color: #ac000d;
  }


  input[type="radio"] {
    display: none; /* Ocultamos los botones*/
}
  
  .fondo{
    position: absolute;
    top: 10; /* Ajusta la posición vertical */
    left: 0; /* Ajusta la posición horizontal */
    width: 100%; /* Ancho del fondo */
    height: 500px; /* Altura del fondo */
    background-image: url("Imagenes/4.jpg"); /* URL del fondo */
    background-repeat: repeat; /* Esto hará que la imagen se repita como un mosaico */
  }

  .botones{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    margin-top: 20px;
  }

  label {
    display: inline-block;
    width: 10px; /* Tamaño del botón */
    height: 10px; /* Tamaño del botón */
    background-color: #ccc; /* Color del botón */
    border-radius: 50%; /* Forma redondeada */
    cursor: pointer;
    margin: 0 5px; /* Espaciado entre botones */
  }
  
  .flechas {
    font-family: "Museo Sans"; /* Tipo de fuente */
    font-size: 21px;
    line-height: 21px;
    background-color: #484848; /* Color del texto */
    color: #ffffff; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border: none; /* Borde */
    border-radius: 50px; /* Bordes redondeados */
    display: inline-block; /* Hace que el label sea en línea y respete el padding */
    margin: 5px 0; /* Margen exterior */
  }
  .flechas:hover {
      background-color: #e60012; /* Color de fondo al pasar el cursor por encima */
      border: none;
  }
  .pause{
    display: none;
  }
  .play{
    font-family: "Museo Sans"; /* Tipo de fuente */
    font-size: 21px;
    line-height: 21px;
    background-color: #484848; /* Color del texto */
    color: #ffffff; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border: none; /* Borde */
    border-radius: 50px; /* Bordes redondeados */
    display: inline-block; /* Hace que el label sea en línea y respete el padding */
    margin: 5px 5px; /*Margenes*/
  }
  .play:hover{
    background-color: #e60012; /* Color de fondo al pasar el cursor por encima */
  }
 

  .deslizador {
      display: block;
      height: 2px;
      width: 50px;

  }
  .deslizador:checked {
      background-color: #484848;
  }
  .deslizador:hover {
      background-color: #ac000d;
  }
  #slide1:checked ~ .slides {
    transform: translateX(0); /* Muestra la primera imagen */
  }
  
  #slide2:checked ~ .slides {
    transform: translateX(-100%); /* Muestra la segunda imagen */
  }
  
  #slide3:checked ~ .slides {
    transform: translateX(-200%); /* Muestra la tercera imagen */
  }

  
  
  