@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans-300.otf);
    font-weight: 300;
  }
  
@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans_700.otf);
    font-weight: 700;
  }

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans_500.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans-100.otf);
    font-weight: 100;
}

@font-face {
    font-family: "Museo Sans";
    src: url(../fonts/MuseoSans_900.otf);
    font-weight: 900;
}



.body{
    margin: 0 ;
    padding: 0;
    
}


.pepe-featured{
    font-family: Museo Sans;
    height: 490px;
    margin-top: 55px;
    margin-left: 15px;
    position: relative;
    overflow: visible;
}

.pepe-featured-header{
    width: 1440px;
    margin: 0 auto; 
    z-index: 2;
 
}

.pepe-featured-h2{
    position: relative;
    color:#484848;
    font-weight: 700;
    font-size: 28px; 
    width: 100%;
    z-index: 2;


}

.pepe-featured-showcases{
    position: relative;
    display: flex;
    overflow-x: scroll;
    padding-left: 10px;
    box-sizing: border-box;
    gap: 38px;
    padding: 10px 10px 10px 10px;    

}

.pepe-featured-showcase{
    border: 1px solid #dadada;
    border-radius: 13px;
    width: 260px;
    height: 310px;
    flex-shrink: 0;
    overflow: visible;
    text-decoration: none;  
    margin: 15px 0 10px 0;
    transition: transform 0.3s ease;
}



.pepe-featured-rail-img{
    width: 260px;
    height: 146px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.pepe-featured-showcase:hover .pepe-featured-rail-img{
    transform: translateY(-15px)
}

.pepe-featured-underrail-text{
    position: relative;
    height: 145px;
}

.pepe-featured-underrail-title{
    width: 228px;
    font-size: 16px;
    color: #484848;
    max-width: 260px;
    transition: 0.4s;
    margin-top: 15px;
    margin-left: 14px;
    margin-bottom: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.pepe-featured-showcase:hover .pepe-featured-underrail-title{
   color:#E60012;
}



.pepe-featured-underrail-learnmore{
    background-color: #4b5cce ;    
    position: absolute;
    bottom:50px;
    max-width: 65px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;

}

.pepe-featured-underrail-learnmore p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin:0;
}

.pepe-featured-underrail-available{
    background-color: red ;
    position: absolute;
    bottom:50px;
    font-weight: 500;
    max-width: 80px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
}

.pepe-featured-underrail-available p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin:0;
}

.pepe-featured-underrail-comingsoon{
    background-color: #4b5cce ;
    position: absolute;
    bottom:50px;
    max-width: 78px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
}

.pepe-featured-underrail-comingsoon p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin:0;
}

.pepe-featured-underrail-nintendoswitch{
    color: #939393;
    position: absolute;
    bottom: 18px;
    font-size: 14px;
    font-weight: 300;
    border-left: 2px solid #E60012;
    margin-left: 16px;
    padding-left: 6px;
}

.pepe-featured-underrail-nintendoswitch p{
    margin-bottom: 0px;
    margin-top: 0px;
}

/* aqui boton featured */
.pepe-featured-buttons-forward{
    color: #f2f2f2;
    position: sticky;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.31);    
    border-radius: 0.75rem;
    height: 345px;
    min-width: 65px;
    border: none;
    transition: 0.2s ease;
}

.pepe-featured-buttons-forward svg{
    transition: 0.2s ease;

}

.pepe-featured-buttons-forward:hover svg{
    color: white;
    transform: scale(1.25);
}

.pepe-featured-buttons-forward:hover {
    background-color: rgba(0, 0, 0, 0.608);
}

/* A partir de aquí bestsellers y releases */


.pepe-bestsellersandreleases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media(max-width: 1210px){
    .pepe-bestsellersandreleases{
        display: block;
    }
}

.pepe-bestsellers{
    font-family: Museo Sans;
    height: 450px;
    width: 1144px;    
    margin-top: 55px;
    margin-left: 15px;
    position: relative;

}

.pepe-bestsellers-header{
    display: flex;
    align-items: center;
    height: 38px;
    margin-bottom: 32px;
}

.pepe-bestsellers-h2{
    width: fit-content;
    padding-right: 16px;
    margin-right: 16px;
    border-right: solid 1px #dadada;
    color: #484848;
    font-size: 28px;
}

.pepe-bestsellers-seelist{
    color: #E60012;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: solid 2px #E60012;
    transition: 0.3s ease;
}

.pepe-bestsellers-seelist:hover{
    color: #b2000f;
 
}

.pepe-bestsellers-showcases{
    display: flex;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
    gap: 38px; /* Separación entre las cartas */
}

.pepe-bestsellers-showcase {
    border: 1px solid #dadada;
    border-radius: 13px;
    width: 260px;
    height: 315px;
    flex-shrink: 0;
    overflow: visible;
    text-decoration: none;   
    margin: 15px 0 10px 0;

}

.pepe-bestsellers-showcase-onsale {
    border: 1px solid #dadada;
    border-radius: 13px;
    width: 260px;
    height: 343px;
    flex-shrink: 0;
    overflow: visible;
    text-decoration: none;   
    margin: 15px 0 10px 0;

}

.pepe-bestsellers-underrail-text-onsale{
    position: relative;
    width: 260px;
    height: 175px;
}

.pepe-bestsellers-underrail-onsale-price{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 46px;
    margin-left: 16px;
}

.pepe-sale-price{
    font-size: 16px;
    font-weight: 700;
    color: #484848;
    margin-right: 8px;
}

.pepe-regular-price{
    font-size: 11px;
    font-weight: 300;
    text-decoration: line-through;
    color: #484848;
    margin-right: 14px;

}

.pepe-bestsellers-underrail-discounttag{
    display: flex;    
}

.pepe-saletag{
    height: 17px;
}

.pepe-bestsellers-underrail-discounttag-percentage{
    font-size: 12px;
    font-weight: 700;
    padding: 1px 2px 1px 0;
    color: #FFFFFF;
    background-color: #E60012; 
    border-top-right-radius: 0.175rem;
    border-bottom-right-radius: 0.175rem;

}

.pepe-bestsellers-rail-img{
    width: 260px;
    height: 146px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.pepe-bestsellers-showcase-onsale:hover .pepe-bestsellers-rail-img{
    transform: translateY(-15px)
}
.pepe-bestsellers-showcase:hover .pepe-bestsellers-rail-img{
    transform: translateY(-15px)
}



.pepe-bestsellers-underrail-text{
    position: relative;
    width: 260px;
    height: 145px;

}

.pepe-bestsellers-underrail-title {
    width: 228px;    
    font-size: 16px;
    color: #484848;
    max-width: 260px;
    margin-left: 14px;
    transition: 0.4s;
    margin-top: 15px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pepe-bestsellers-underrail-releasedate{
    color: #727272;
    font-size: 11px;
    margin-left: 14px;

}
.pepe-bestsellers-underrail-saleendtime{
    background-color: #E60012 ;
    position: absolute;
    bottom:78px;
    max-width: 100px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
}

.pepe-bestsellers-underrail-saleendtime p{
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin:0;
}

.pepe-bestsellers-underrail-price{
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color: #484848;
    margin-left: 16px;
    bottom: 46px;
}

.pepe-bestsellers-seelist-button{
    position: relative;
    min-height: 345px;
    min-width: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    cursor: pointer;

    
}
.pepe-bestsellers-seelist-button-background{
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    background-color: #E60012;
    transition: transform 0.15s ease-out;
}

.pepe-bestsellers-seelist-button-background:hover{
    transform: scale(1.05);
    background-color: rgb(172,0,13);

}

.pepe-bestsellers-seelist-button-text{
    position: absolute;
    top: 50%;
    left: 20%;
    color: #FFFFFF;
    font-size: 18px;
}





.pepe-releases{
    font-family: Museo Sans;
    height: 490px;
    width: 1144px;
    margin-top: 55px;
    margin-left: 15px;
    position: relative;
}

.pepe-releases-showcases {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
    gap: 38px;
}

.pepe-releases-showcase {
    position:relative;
    border: 1px solid lightgrey;
    border-radius: 13px;
    width: 260px;
    height: 310px;
    flex-shrink: 0;
    overflow: visible;
    text-decoration: none;   
    margin: 15px 0 10px 0;
}






.pepe-releases-rail-img{
    width: 260px;
    height: 146px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.pepe-bestsellers-showcase-onsale:hover .pepe-releases-rail-img{
    transform: translateY(-15px)
}


.pepe-releases-underrail-text{
    position: relative;
    width: 260px;
    height: 175px;

}


.pepe-releases-underrail-new{
    background-color: #E60012 ;
    position: absolute;
    bottom:78px;
    max-width: 95px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
}
.pepe-releases-underrail-new p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin:0;
}

.pepe-releases-underrail-freedemo{
    background-color: #4b5cce ;    
    position: absolute;
    bottom:78px;
    max-width: 65px;
    margin-left: 16px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 13px;
}
.pepe-releases-underrail-freedemo p{
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin:0;
}

.pepe-bestsellers-showcase:hover .pepe-bestsellers-underrail-title,
.pepe-releases-showcase:hover .pepe-releases-unrrail-title,
.pepe-bestsellers-showcase-onsale:hover .pepe-bestsellers-underrail-title {
    color:#E60012;
 }



.pepe-whislist-button{
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    bottom: 12px;
    right: 15px;

}
.pepe-whislist-button svg{
transform: scale(2.6);
}

.hearts {
    fill: #e60012; /* Cambio de color para todo el SVG */
    stroke: #e60012; /* Cambio de color para los bordes */
  }

  .heart-outline {
    fill: #e60012; /* Cambio de color para el corazón en estado normal */
    transition: fill 0s;
  }

  .sparks {
    transform: scale(0);
    transform-origin: center center;
    transition: transform 0.3s ease;
  }

  .spark {
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: radialFade 0.3s ease-in-out forwards;
  }

  @keyframes radialFade {

    10% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .pepe-whislist-button:hover .heart-outline {
    fill: #AC000D; /* Cambio de color para el corazón al hacer hover */
    stroke: #AC000D;
  }

  .pepe-whislist-button:hover .sparks {
    transform: scale(1);
    color: #AC000D;
  }

  .pepe-whislist-button:hover .spark {
    opacity: 1;
    color: #AC000D;
  }


.pepe-bestsellers-buttons-forward{
    color: #f2f2f2;
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.31);
    
    border-radius: 0.75rem;
    height: 375px;
    width: 65px;
    border: none;
    transition: 0.2s ease;
}

.pepe-bestsellers-buttons-forward svg{
    transition: 0.2s ease;

}

.pepe-bestsellers-buttons-forward:hover svg{
    color: white;
    transform: scale(1.25);
}

.pepe-bestsellers-buttons-forward:hover {
    background-color: rgba(0, 0, 0, 0.608);
}


.pepe-nintendo-switch{
    color: #939393;
    position: absolute;
    bottom: 18px;
    font-size: 14px;
    font-weight: 300;
    border-left: 2px solid red;
    margin-left: 16px;
    padding-left: 6px;
}

/* ocultar scroll bars */

.pepe-featured-showcases::-webkit-scrollbar, 
.pepe-releases-showcases::-webkit-scrollbar,
.pepe-bestsellers-showcases::-webkit-scrollbar{
    display: none;
  }

.pepe-featured-showcases,
.pepe-releases-showcases,
.pepe-bestsellers-showcases {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}